html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: #555;
}
.menu-area {
    display: grid;
    grid-template-columns: 1fr minmax(0px, 600px) 1fr;
    height: 100%;
}
.menu-container {
    grid-column: 2 / 3;
}
.menu-title {
    text-align: center;
    font-size: 3.2rem;
}
.menu-items {
    list-style-type: none;
    padding: 0px;
    font-size: 1.5rem;
}
.menu-item {
    text-align: center;
    background: #333;
    margin: 40px 0px;
    padding: 20px 0px;
    cursor: pointer;
    color: white;
}
.menu-item:nth-child(1):hover {
    background: #0892A5;
}
.menu-item:nth-child(1) {
    background: #70B8C2;
}
.menu-item:nth-child(2):hover {
    background: #06908F;
}
.menu-item:nth-child(2) {
    background: #70C2C1;
}
.menu-item:nth-child(3):hover {
    background: #0CA4A5;
}
.menu-item:nth-child(3) {
    background: #70C1C2;
}
.menu-item:nth-child(4):hover {
    background: #DBB68F;
}
.menu-item:nth-child(4) {
    background: #E0CDB8;
}
